*.aab
*.apk
*.class
*.dSYM/
*.iml
*.ipa
*.ipr
*.iws
*.jks
*.keystore
*.log
*.map.json
*.pyc
*.suo
*.swp
*.symbols
*.tmp
*.user
*.userosscache
*.xcuserstate
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history/
.idea/
.packages
.pub-cache/
.pub/
.svn/
.vscode/
Thumbs.db
app.*.map.json
app.*.symbols
build/
coverage/
doc/api/
flutter_*.png
migrate_working_dir/
tree.txt

android/.cxx/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/captures/
android/key.properties
android/local.properties

assets/branding/studyplanner_logo_source.jpg

ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/ephemeral/
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
ios/ServiceDefinitions.json
ios/**/.generated/
ios/**/.vagrant/
ios/**/DerivedData/
ios/**/Pods/
ios/**/dgph/
ios/**/xcuserdata/

linux/flutter/ephemeral/

macos/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
macos/**/Pods/
macos/**/dgph/
macos/**/xcuserdata/

windows/flutter/ephemeral/
windows/**/x64/
windows/**/x86/
windows/**/*.cache
!windows/**/*.cache/
